<div>
    <h1>{{ product.metafields.custom.testtext }}</h1>

    <h1>{{ product.metafields.custom.testimage }}</h1>
</div>

{% schema %}
  {
    "name": "t:sections.product-test.name",
	"class":"test",
	"tag": "section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
